{% extends 'base.html.twig' %}

{% block title %}About Leros{% endblock %}

{% block body %}
    <div class="container">
        <div class="row g-5 justify-content-between">
            <div class="col-12">
                <img class="img-fluid w-100 object-fit-cover vintage-img" style="height: 200px;" height="200"
                     src="{{ asset('images/header.jpg') }}"/>
            </div>

            <div class="col-12">
                <div class="row g-5 justify-content-start">
                    {% for item in items %}
                        <div class="col-12 col-md-6">
                            <div class="card overflow-hidden">
                                <div class="row flex-column flex-sm-column flex-md-row">
                                    {% if item.imagePath %}
                                        <div class="col-12 col-md-6">
                                            <img class="img-fluid h-100 vintage-img object-fit-cover"
                                                 alt="{{ item.title }}"
                                                 src="{{ asset(item.imagePath) }}"/>
                                        </div>
                                    {% endif %}
                                    <div class="col-12 col-md-6">
                                        <div class="card-body vstack gap-2">
                                            <div class="fw-bold">{{ item.title|title }}</div>
                                            <div>{{ item.content|nl2br }}</div>
                                            <div class="text-end">
                                                <a href="#" class="btn">
                                                    {{ 'find-out-more'|trans|title }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
