<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Leros{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<div class="container-fluid border-bottom border-primary"
     style="
             border-width: 5px!important;
             height: 35px;
             background-image: url({{ asset('images/pattern/greek-pattern-primary.png') }});
             background-size: 200px;
             background-repeat: repeat;
             "
>
</div>

{{ include('partial/_navbar.html.twig') }}

<div>
    {% block body %}{% endblock %}
</div>
{% if not app.user %}
    <div class="container-fluid py-5 border-top border-primary"
         style="
                 border-width: 10px!important;
                 background-image: url({{ asset('images/pattern/greek-pattern-primary.png') }});
                 background-size: contain;
                 background-repeat: repeat;"
    >
        <div class="row d-flex justify-content-center g-0">
            <div class="col-12 col-md-4 bg-white text-center py-3">
                <div>
                    <a href="/" class="link-light text-decoration-none">
                        <span class="manbow-fill fs-1 text-black">About Leros</span>
                    </a>
                    <p class=" text-center small text-black">© {{ 'now'|date('Y') }}</p>
                </div>
                <hr/>
                <div class="d-flex justify-content-around">
                    <a href="/" class="link-light text-decoration-none">
                        <span class="text-black">{{ 'advertise'|trans|title }}</span>
                    </a>
                    <a href="/" class="link-light text-decoration-none">
                        <span class="text-black">{{ 'privacy'|trans|title }}</span>
                    </a>
                    <a href="/" class="link-light text-decoration-none">
                        <span class="text-black">{{ 'terms-of-use'|trans|title }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

</body>
</html>
