{% extends 'base.html.twig' %}

{% block title %}{{ artefact.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row g-3 justify-content-center">
            <div class="col-12 col-md-6">

                <div class="text-center fw-bold">{{ artefact.title|title }}</div>

                <div class="card">
                    <div class="card-body text-center vstack gap-3">
                        <img height="150" width="150" alt="{{ artefact.title }}"
                             class="rounded-circle object-fit-cover border border-3 mx-auto"
                             src="{{ asset(artefact.image) }}"/>
                        <div class="fw-bold">{{ artefact.title|title }}</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
