<div class="container">
    <div class="row">
        <div class="col-12">
            <a class="navbar-brand mb-0 pb-0" href="{{ path('discover') }}">
                <span class="fs-1 mb-0 pb-0 manbow-bold">About Leros</span>
            </a>
        </div>
        <ul class="nav mt-1">
            <li class="nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'discover' ? 'text-black' : '' }}"
                   href="{{ path('discover') }}">{{ 'discover'|trans|title }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'history' ? 'text-black' : '' }}"
                   aria-current="page" href="{{ path('history') }}">{{ 'history'|trans()|title }}</a>
            </li>
            <li class="nav-item ms-auto">
                <a class="nav-link {{ app.request.attributes.get('_route') == 'leros_visitor_survey' ? 'text-black' : '' }}"
                   aria-current="page" href="{{ path('leros_visitor_survey') }}">{{ 'visitor-survey'|trans()|title }}</a>
            </li>
        </ul>
    </div>

</div>